<div class="footer">
    <div class="footer-left">
        {{ partial "footer-icons.html" (dict "context" . "Site" .Site) }}
    </div>
    <div class="footer-right">
        {{ partial "footer-license.html" }}
    </div>
    <div class="footer-unified">
        <div class="icon-links-unified">
            {{ partial "footer-icons.html" (dict "context" . "Site" .Site) }}
        </div>
        <div class="license-unified">
            {{ partial "footer-license.html" }}
        </div>
    </div>
</div>
