<div class="footer">
    <div class="footer-left">
        <a href="/posts/index.xml">
            <img src="/img/rss.svg">
        </a>
        <a href="https://github.com/{{ .Site.Params.GithubUser }}">
            <img src="/img/github.svg">
        </a>
        <a href="https://matrix.to/#/{{ .Site.Params.MatrixUser }}">
            <img src="/img/matrix.svg">
        </a>
        <a href="mailto:{{ .Site.Params.AuthorEmail }}">
            <img src="/img/email.svg">
        </a>
        <a href="{{ .Site.Params.BTCAddressImgPath }}">
            <img src="/img/btc.svg">
        </a>
        <a href="{{ .Site.Params.XMRAddressImgPath }}">
            <img src="/img/xmr.svg">
        </a>
    </div>
    <div class="footer-right">
        <span class="license"><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"></a></span>
    </div>
</div>
