<div>
    <a href="/posts/index.xml">
        <img src="/img/rss.svg">
    </a>
</div>
<div>
    <a href="https://github.com/{{ .context.Site.Params.githubUser }}">
        <img src="/img/github.svg">
    </a>
</div>
<div>
    <a href="https://matrix.to/#/{{ .context.Site.Params.matrixUser }}">
        <img src="/img/matrix.svg">
    </a>
</div>
<div>
    <a href="mailto:{{ .context.Site.Params.authorEmail }}">
        <img src="/img/email.svg">
    </a>
</div>
<div class="tooltip">
    <a href="{{ .context.Site.Params.btcAddressImgPath }}">
        <img src="/img/btc.svg">
    </a>
    <div class="tooltip-text">{{ .context.Site.Params.btcAddress }}</div>
</div>
<div class="tooltip">
    <a href="{{ .context.Site.Params.xmrAddressImgPath }}">
        <img src="/img/xmr.svg">
    </a>
    <div class="tooltip-text">{{ .context.Site.Params.xmrAddress }}</div>
</div>
